*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
nav{
    width: 100vh;
}

header{
    margin-left: 100px;
    margin-top: 10px;
    text-transform: uppercase;
}

img{
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px #3E59FF;
}
p{
    text-align: center;
}
button{
    margin-top: 4px;
    width: 30vh;
}
svg{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 30%;
    margin-left: 20px;
}