*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
nav{
    width: 100vh;
    background-color: blue;
}

header{
    margin-left: 100px;
    margin-top: 10px;
}
header> img{
    width: 30vh;
    height: 80px;
    margin-bottom: 20px;
}

img{
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px #3E59FF;
}
p{
    text-align: center;
}
button{
    margin-top: 4px;
    width: 20vh;
}
svg{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 30%;
    margin-left: 20px;
}

@media screen and ( min-width: 700px) {
    header > img{
        width: 80vh;
        height: 200px;
       justify-content: center;
    }
    
}
@media screen and (min-width: 1000px ) {
    header > img{
        width: 100vh;
        height: 200px;
       justify-content: center;
    }
    
    img{
        columns: 2;
        flex-direction: row;
    }
}